.con-b2{
  .box-request {
    margin-bottom: 50px;
    .txt-pass {
      width: 200px;
      border: 2px solid $bright-darkgray;
      color: $gray-light;
      display: block;
      height: 35px;
      padding: 0 10px;
      line-height: 30px;
    }
    .box-adult {
      width: 200px;
      li {
        margin-bottom: 10px;
        display: flex ;
        flex-direction: row ;
        flex-wrap: wrap ;
        justify-content: space-between ;
        align-items: flex-start ;
        align-content: center ;
        padding: 0 10px;
        input {
          max-width: 50px;
          padding: 0 5px;
          height: 25px;
        }
      }
    }
    .box-request-inner {
      overflow: hidden;
      .box-left {
        width: 48%;
        float: left;
        padding-top: 20px;
      }
      .box-right {
        width: 52%;
        float: right;
        .box-top {
          p {
            // font-size: $font-size-small;
            color: $gray-light;
            margin-bottom: 5px;
          }
        }
      }
      
    }
    .datepicker {
      // padding:5px 0 5px 50px;
    }
    .input-group-addon {
      border: 2px solid $bright-darkgray;
      border-right: 0;
    }
    .box-map {
      max-height: 450px;
      overflow-y: hidden;
    }
    .box-wrap {
      padding-left: 60px;
    }
    textarea {
      height: auto;
      color: $gray-light;
      padding: 5px;
      resize: none;
    }
    .box-tyle {
      display: flex ;
      flex-direction: row ;
      // flex-wrap: wrap ;
      justify-content: flex-start ;
      align-items: flex-start ;
      align-content: center ;
      width: 95%;
      .box-number {
        height: 35px;
        color: $gray-light;
        display: flex ;
        flex-direction: row ;
        // flex-wrap: wrap ;
        justify-content: flex-start ;
        align-items: center ;
        align-content: center ;
        position: relative;
        &.featured {
          &:after {
            position: absolute;
            bottom: -10px;
            left: 0;
            content: "x";
          }
        }
        span.number {
          margin-right: 15px;
        }
        i {
          font-size: 30px;
          &.fa-suitcase {
            font-size: 22px;
          }
        }
      }
      .box-tleft {
        width: 50%;
      }
      .box-tright {
        width: 20%;
      }
      .box-photo {
        width: 30%;
        img {
          max-width: 100%;
          margin-right: -40px;
        }
      }
    }
    .form-group {
      // display: flex ;
      // flex-direction: row ;
      // // flex-wrap: wrap ;
      // justify-content: flex-start ;
      // align-items: flex-start ;
      // align-content: center ;
      margin-bottom: 10px;
      width: 100%;
      // margin-left: 10%;
      .datepicker {
        .form-control {
          width: 280px;
        }
      }
      label {
        display: block;
        font-size: 20px;
        &.lbl-note {
          font-size: $font-size-small;
          b {
            color: #00b0f0;
            font-weight: normal;
          }
        }
        span {
          font-size: 13px;
          color: $gray-light;
        }

      }
      .policy {
        font-size: 14px;
        b {
            color: #00b0f0;
            font-weight: normal;
          }
      }
      div.box-input {
        margin-left: 45px;
        position: relative;
      }
      .box-btn {
        margin-left: 50px;
        .btn {
          margin-right: 10px;
          min-width: 200px;
          display: inline-block;
        }
      }
      .box-comment {
        position:relative;
        ul {
          margin: 0;
          padding:0;
          position: absolute;
          left: 0;
          bottom:0;
          li {
            display: inline-block;
            vertical-align: bottom;
            margin-bottom: 2px;
            background: #f9f9f9;
            margin-left: 5px;
            font-size: $font-size-small;
            line-height: 90%;
            
            height: 34px;
            h6{
              display: flex ;
              flex-direction: column ;
              flex-wrap: wrap ;
              justify-content: center ;
              align-items: flex-start ;
              align-content: center ;
              margin: 0;
              padding:0;
              height: 34px;
              padding: 0px 5px;
              color: $gray-light;
            }
            

          }
        }
      }
      .box-select {
        margin-bottom: 10px;
      }
      .form-control {
        display: inline-block;
        margin-right: 15px;
        &.txt-gray {
          @include placeholder {
          @include transition(color .2s linear);
          color: $gray-light;
        }
        }
      }
      .txt-note {
        display: inline-block;
        color: $gray-light;
        font-size: $font-size-small;
      }
    }
    .note {
      color: #00b0f0;
    }
    .box-return {
      display: flex ;
      flex-direction: row ;
      // flex-wrap: wrap ;
      justify-content: space-between ;
      align-items: center ;
      align-content: center ;
      margin-top: 20px;
      .input-group {
        max-width: 320px;
      }
    }
    #box-add-request {
      // min-height: 70px;
      border: 2px solid $bright-darkgray;
      width: 320px;
      height: 55px;
    }
    .box-des-list {
      width: 320px;
      border: 2px solid $bright-darkgray;
      padding: 5px;
      overflow: hidden;
      margin: 3px 0;

      .list-des {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: $font-size-small;
        li {
          margin-bottom: 5px;
          &:first-child {
            span {
              width: 48%;
            }
          }
          div {
            display: flex ;
            flex-direction: row ;
            flex-wrap: wrap ;
            justify-content: flex-start ;
            align-items: center ;
            align-content: center ;
            label, input {
              width: 48%;
            }

            label {
              // padding: 0;
              margin-top: 0;
              margin-bottom: 0;
              font-size: $font-size-small;
              span {
                margin-left: 7px;
              }
            }
            input {
              padding: 0;
              font-size: $font-size-small;
              border: 0;
              @include placeholder {
              @include transition(color .2s linear);
              // color: $font-color-lighter;
              // font-style: $font-style-italic;
              font-size: 14px;
              // line-height: 20px;
            }
            }
          }
        }
      }
     
    }
    .row{
      &.featured {
        .col-sm-4 {
          width: 30%;
        }
        .col-sm-8 {
          width: 70%;
        }
        
      }
    }
    .list-tranfer {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        list-style: none;
        // margin-right: 3px;
        &:nth-child(4) {
          img {
            border: 0;
            max-width: 70px;
          }
        }
        &:nth-child(5) {
          img {
            border: 0;
            max-width: 66px;
          }
        }
        img {
          max-width: 60px;
          border: 1px solid #e9e9e9;
        }
      }
    }
    .txt-gray {
      color: $gray-light;
    }
  }
}
